<div class="tb-lesson-single">
  <div class="entry-media">
    <img src="./assets/images/thumbnail_large.jpg" alt="">
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#overviewTab" role="tab" aria-controls="overviewTab">
        Overview
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#transcriptTab" role="tab"
         aria-controls="transcriptTab">Transcript
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#viewOfflineTab" role="tab"
         aria-controls="viewOfflineTab">View Offline
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#exerciseFiles" role="tab"
         aria-controls="exerciseFiles">Exercise Files
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane tab-pane-overview active" id="overviewTab" role="tabpanel">
      <div class="entry-lesson-meta">
        <img class="entry-avatar" src="./assets/images/avatar-placeholder.png" alt="">
        <div class="entry-info-block">
          <dl>
            <dt>Author</dt>
            <dd>John Doe</dd>
          </dl>
          <dl>
            <dt>Released</dt>
            <dd>May 26, 2017</dd>
          </dl>
        </div>
        <div class="entry-info-block">
          <dl>
            <dt>Skill Level</dt>
            <dd>Intermediate</dd>
          </dl>
          <dl>
            <dt>Time</dt>
            <dd>6h 30m</dd>
          </dl>
        </div>
      </div>
      <div class="entry-summary">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid culpa distinctio dolore hic id impedit in ipsa laudantium magni minus quae, quaerat quod ratione sunt tenetur unde! Quasi, sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores aspernatur corporis culpa dolore doloribus dolorum eligendi iusto, labore laudantium maiores, minima numquam praesentium quibusdam quidem tempora ullam vel? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium esse laboriosam quam repellendus sint totam. Aliquam debitis eius eos explicabo iste labore laboriosam nam necessitatibus, perferendis porro possimus, saepe vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid culpa distinctio dolore hic id impedit in ipsa laudantium magni minus quae, quaerat quod ratione sunt tenetur unde! Quasi, sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores aspernatur corporis culpa dolore doloribus dolorum eligendi iusto, labore laudantium maiores, minima numquam praesentium quibusdam quidem tempora ullam vel? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium esse laboriosam quam repellendus sint totam. Aliquam debitis eius eos explicabo iste labore laboriosam nam necessitatibus, perferendis porro possimus, saepe vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid culpa distinctio dolore hic id impedit in ipsa laudantium magni minus quae, quaerat quod ratione sunt tenetur unde! Quasi, sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores aspernatur corporis culpa dolore doloribus dolorum eligendi iusto, labore laudantium maiores, minima numquam praesentium quibusdam quidem tempora ullam vel? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium esse laboriosam quam repellendus sint totam. Aliquam debitis eius eos explicabo iste labore laboriosam nam necessitatibus, perferendis porro possimus, saepe vero.</p>
      </div>
    </div>
    <div class="tab-pane tab-pane-transcript" id="transcriptTab" role="tabpanel">
      ...
    </div>
    <div class="tab-pane" id="viewOfflineTab" role="tabpanel">...</div>
    <div class="tab-pane" id="exerciseFiles" role="tabpanel">...</div>
  </div>
</div>
