<div class="container mt-5">
    <div class="card pt-4 pb-4">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <form [formGroup]="loginForm" (submit)="onSubmit()" class="card-block">
                    <h4 class="card-title">SIGN IN</h4>
                    <p class="text-muted">
                        Haven't got an account? <a routerLink="/register">Sign up for free now!</a>
                    </p>
                    <div *ngIf="loginFormErrors.invalid" class="validation-message">
                        <strong>{{ loginFormErrors.invalid }}</strong>
                    </div>
                    <div [ngClass]="{'has-danger': loginFormErrors.email}" class="form-group">
                        <label class="col-form-label">Email</label>
                        <input formControlName="email" type="text" class="form-control form-control"
                               placeholder="Nhập email">
                        <small *ngIf="loginFormErrors.email" class="form-control-feedback">{{ loginFormErrors.email }}</small>
                    </div>
                    <div [ngClass]="{'has-danger': loginFormErrors.password}" class="form-group">
                        <label class="col-form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control form-control"
                               placeholder="Nhập mật khẩu">
                        <small *ngIf="loginFormErrors.password" class="form-control-feedback">{{ loginFormErrors.password }}</small>
                    </div>
                    <button [disabled]="!loginForm.valid || submitted" type="submit" class="btn btn-primary">
                        Sign In
                    </button>
                    <!--<div class="form-inline d-flex justify-content-between">-->
                        <!--<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">-->
                            <!--<input type="checkbox" class="custom-control-input">-->
                            <!--<span class="custom-control-indicator"></span>-->
                            <!--<span class="custom-control-description">Remember me</span>-->
                        <!--</label>-->

                        <!--<button type="submit" class="btn btn-primary">Sign In</button>-->
                    <!--</div>-->
                </form>
            </div>
        </div>
    </div>
</div>
