<div class="site-footer">
    <div class="site-footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="tb-widget tb-widget-menu">
                                <h3 class="entry-widget-title">About Us</h3>

                                <ul class="entry-menu">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Press center</a></li>
                                    <li><a href="#">Become an instructor</a></li>
                                    <li><a href="#">Video2Brain</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="tb-widget tb-widget-menu">
                                <h3 class="entry-widget-title">Products</h3>

                                <ul class="entry-menu">
                                    <li><a href="#">Our plans</a></li>
                                    <li><a href="#">Free trial</a></li>
                                    <li><a href="#">Academic solutions</a></li>
                                    <li><a href="#">Business solutions</a></li>
                                    <li><a href="#">Government solutions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="tb-widget tb-widget-menu">
                                <h3 class="entry-widget-title">Support</h3>

                                <ul class="entry-menu">
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">System requirements</a></li>
                                    <li><a href="#">Register activation key</a></li>
                                    <li><a href="#">Site feedback</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="tb-widget tb-widget-social">
                        <h3 class="entry-widget-title">Follow us</h3>

                        <ul class="entry-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-official"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer-copy">
        <div class="container d-sm-flex justify-content-sm-between">
            <div class="entry-copy">&copy; 2017 BPMInstitutes.org</div>
            <ul class="entry-links">
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Privacy Policies</a></li>
                <li><a href="#">Web Use Policy</a></li>
            </ul>
        </div>
    </div>
</div>
