@import "bootstrap/bootstrap";

$app-base-font-size: 15px;

$app-dark-color: #231f1f;
$app-primary-color: #db0303;
$app-secondary-color: #333;

$app-text-color-dark: #111;
$app-text-color: #333;
$app-text-color-light: #666;
$app-link-color-hover: $app-primary-color;