<div class="tb-sticky-chat-contact">
    <div (click)="onHeaderClick()" class="entry-header d-flex justify-content-between">
        <div class="entry-title">
            <i [ngClass]="{'is-gray': !connectionStatus, 'is-green': connectionStatus}" class="fa fa-comments"></i>
            Online Learners
        </div>
        <!--<a class="entry-close" href="#">&times;</a>-->
    </div>
    <div *ngIf="displayState" class="entry-collapse">
        <div class="entry-contact-list">
            <div class="entry-contact-list-title">Contact</div>
            <div class="entry-scroll">
                <ng-container *ngFor="let onlineLearner of onlineLearners">
                    <div *ngIf="onlineLearner.user._id !== storageService.getUserId()" (click)="buildOrGetChatBox(onlineLearner)" class="entry-contact">
                        <div class="entry-avatar"><img src="./assets/images/avatar-placeholder.png" alt=""></div>
                        <div class="entry-name">{{onlineLearner.user.displayName}}</div>
                        <span class="entry-status is-online"></span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="entry-search">
            <div class="entry-form">
                <input type="text" placeholder="Search contact ...">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</div>